<% content_for(:extra_body_classes, 'background-light sidebar-hidden') %>
<div class="wrap" id="home">
  <div class="content container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h2 class="page-title widget">
          <%= @musician.soundcloud_username %>
        </h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="span4 widget">
          <h4>Biography</h4>
          <p class="hidden-iphone"><%= truncate(@musician.description, length: 200 ) %></p>
          <%= link_to @musician.soundcloud_profile, :target => "_blank" do %>
            <button class="btn btn-info btncampaign">more on soundcloud</button>
          <% end %>
        </div>
        <div class="span4 widget">
          <section class="widget-overview">
            <header>
              <h4><i class="icon-lightbulb"></i> Stats Overview</h4>
            </header>
            <div class="body">
              <ul class="overall-stats">
                <li>
                  <div class="icon pull-left">
                    <i class="icon-play"></i>
                  </div>
                  <span class="key">Total Campaign Plays</span>
                  <div class="value pull-right">
                    <span class="badge badge-info">
                      <%= @musician.total_campaign_playcount %>
                    </span>
                  </div>
                 </li>
                 <li>
                  <div class="icon pull-left">
                    <i class="icon-music"></i>
                  </div>
                  <span class="key">Created Campaigns</span>
                  <div class="value pull-right">
                    <span class="badge badge-info campaign-count">
                      <%= @musician.campaign_count %>
                    </span>
                  </div>
                  </li>
                  <li>
                    <div class="icon pull-left">
                      <i class="icon-heart"></i>
                    </div>
                    <span class="key">Soundcloud Followers</span>
                    <div class="value pull-right">
                      <span class="badge badge-info">
                        <%= @musician.soundcloud_followers_count %>
                      </span>
                    </div>
                  </li>
                  <li>
                    <div class="icon pull-left">
                      <i class="icon-rocket"></i>
                    </div>
                    <span class="key">Total Launch Requests</span>
                    <div class="value pull-right">
                      <span class="badge badge-info">
                        <%= @musician.total_launch_requests_achieved %>
                      </span>
                    </div>
                    </li>
                    <li></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="span4">
          <div class="text-align-center">
            <%= image_tag(
              @musician.soundcloud_avatar,
              { style: "height:230px;" }
            ) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h4 class="widget">
          Campaigns by 
          <%= @musician.soundcloud_username %>
        </h4>
       </div>
     </div>
     <% @musician.campaigns.in_groups_of(4, false).each do |group| %>
      <div class="row-fluid">
        <% group.each do |campaign| %>
          <%= render campaign %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
