 <div class="span2 backcolumn">
          <div class=" sidebar-nav dashboardmenu">
            <ul class="nav nav-list">
              <li><%= link_to dashboard_path do %>
                <p class="dashboardtext"><%= image_tag "compass.png", class: "dashboardicons" %> Dashboard</p>
                <% end %>
              </li>
              <li><%= link_to advice_requests_path do %>
                <p class="dashboardtext"><%= image_tag "songviceicon.png", class: "dashboardicons" %> SongVice</p>
                <% end %>
              </li>
              <li><%= link_to artist_lounge_path do %>
                <p class="dashboardtext"><%= image_tag "campaignsicon.png", class: "dashboardicons" %> Campaigns</p>
                <% end %>
              </li>
              <li ><%= link_to artist_lounge_path do %>
                <p class="dashboardtext"><%= image_tag "schedulericon.png", class: "dashboardicons" %> Scheduler</p>
                <% end %>
              </li>
              <li ><%= link_to artist_lounge_path do %>
                <p class="dashboardtext"><%= image_tag "newslettersicon.png", class: "dashboardicons" %> Newsletters</p>
                <% end %>
              </li>
              <li ><%= link_to artist_lounge_path do %>
                <p class="dashboardtext"><%= image_tag "promoicon.png", class: "dashboardicons" %> Promos</p>
                <% end %>
              </li>
              <li ><%= link_to artist_lounge_path do %>
                <p class="dashboardtext"><%= image_tag "analyticsicon.png", class: "dashboardicons" %> Analytics</p>
                <% end %>
              </li>
              <li><%= link_to artist_lounge_path do %>
                <p class="dashboardtext"><%= image_tag "mailinglistsicon.png", class: "dashboardicons" %> Mailing Lists</p>
                <% end %>
              </li>
            </ul>
          </div><!--/.well -->
  </div><!--/span-->