<%= div_for campaign, class: 'span3' do %>
  <section class="widget campaign">
    <header>
      <h4><%= campaign.name %></h4>
    </header>
    <div class="body">
      <div class="text-align-center">
        <%= link_to campaign.track_permalink, class: 'stratus' do %>
          <%= image_tag campaign.artwork_for_track, class: 'campaignartwork' %>
        <% end %>
      </div>
      <br />
      <ul class="server-stats">
        <li>
          <div class="key pull-right">
           %
          </div>
          <div class="stat">
            <div class="info"><%= campaign.reservations_left %> left</div>
            <div class="progress progress-striped">
              <div class="bar" style="width: <%= campaign.reservations.count%>%"></div>
            </div>
          </div>
        </li>
      </ul>
      <div class="text-align-center">
        <%= campaign_controls_for campaign, current_user %>
      </div>
    </div>
  </section>
<% end %>
