<h2>Create a campaign</h2>

<%= form_for @campaign do |form| %>
  <% @campaign.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>
    <ul>
    <% @campaign.errors.full_messages.each do |msg| -%>
      <li><%= msg %></li>
    <% end -%>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <h4>Enter your artist name</h4>
    <%= form.text_field :musician_name %>
  </div>
  <div class="field">
    <h4>Give your campaign a name</h4>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <h4>Select a category for your campaign</h4>
    <%= form.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div class="field">
    <h4>How many reservations would you like for early release</h4>
    <%= form.number_field :requested_likes %>
  </div>
  <div>
    <%= form.label :track_id,
      'Choose a track from Soundcloud for your campaign' %>
    <%= form.collection_select(
      :track_id,
      @campaign.musician.soundcloud_account.get_tracks_for_musician,
      :id,
      :title
    ) %>
  </div>
  <div>
    <%= form.label :full_track, 'Upload your full track here' %>
    <%= form.file_field :full_track %>
  </div>
  <div>
    <%= form.submit 'Create campaign' %>
  </div>
<% end %>
