<h2>Create a campaign</h2>

<%= form_for @campaign do |form| %>
  <div>
    <%= form.label :musician_name, 'Musician name' %>
    <%= form.text_field :musician_name %>
  </div>
  <div>
    <%= form.label :name, 'Campaign name' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :category_id, 'Select a category for the campaign' %>
    <%= form.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div>
    <%= form.label :requested_likes, 'Number of likes requested' %>
    <%= form.number_field :requested_likes %>
  </div>
  <div>
    <%= form.label :track_id,
      'Choose a track from Soundcloud for your campaign' %>
    <%= form.collection_select(
      :track_id,
      @campaign.musician.soundcloud_account.get_tracks_for_musician,
      :id,
      :title
    ) %>
  </div>
  <div>
    <%= form.label :full_track, 'Upload your full track here' %>
    <%= form.file_field :full_track %>
  </div>
  <div>
    <%= form.submit 'Create campaign' %>
  </div>
<% end %>
