<%= simple_form_for(@user_track) do |f| %>
  <% if @user_track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_track.errors.count, "error") %> prohibited this user_track from being saved:</h2>

      <ul>
      <% @user_track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= f.text_field :name, required: true, value: "#{@user_track.upload.upload_file_name}", label: "Track Name" %></br>
    <%= f.text_area :description, required: false, placeholder: "Description", label: false %></br>
    <%= f.association :category, required: true, label: "Track Genre" %></br>
    <%= f.submit %>
<% end %> 

