<div class="container">
<h1>Listing user_tracks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user_tracks.each do |user_track| %>
      <tr>
        <% if user_track.name == nil %>
        <td><%= user_track.upload.upload_file_name %></td>
        <% else %>
        <td><%= user_track.name %></td>
        <% end %>
        <td><%= user_track.description %></td>
        <td><%= link_to 'Show', user_track %></td>
        <td><%= link_to 'Edit', edit_user_track_path(user_track) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>