<li class="active">
  <%= link_to launchbase_path do %>
    <i class="icon-rocket"></i> Launchbase
  <% end %>
</li>
<li class="dropdown introhome" >
<a href="#" class="dropdown-toggle" id="homelogo" data-toggle="dropdown">
  <i class="icon-user"></i> <%= current_user.name %>
  <b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li>
  <%= link_to user_settings_path do %>
    <i class="icon-cog"></i> Settings
  <% end %>
  </li>
  <li><%= link_to '#' do %><i class="icon-smile"></i> Help<% end %></li>
  <li>
    <%= link_to sign_out_path do %>
      <i class="icon-download"></i> Logout
    <% end %>
  </li>
</ul>
</li>
