<li class="dropdown">
  <a href="#" class="dropdown-toggle" id="homelogo" data-toggle="dropdown">
    <i class="icon-rocket"></i> Launchbase <span class="badge badge-info">0</span>
    <b class="caret"></b>
  </a>
<ul class="dropdown-menu">
  <li><a href="#">No new tracks ready for download</a></li>

  <li class="text-align-center"><%= link_to "View <i class='icon-rocket'></i> Launchbase".html_safe, launchbase_path %></li>
</ul>
</li>
<li class="dropdown introhome" >
<a href="#" class="dropdown-toggle" id="homelogo" data-toggle="dropdown">
  <i class="icon-user"></i> <%= current_user.name %>
  <b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li>
  <%= link_to user_settings_path do %>
    <i class="icon-cog"></i> Settings

  <% end %></li>
  <li>
  <%= link_to artist_lounge_path do %>
    <i class="icon-play"></i> Artist Lounge
  <% end %>
  </li>
  <li><%= link_to '#' do %><i class="icon-smile"></i> Help<% end %></li>
  <li>
    <%= link_to sign_out_path do %>
      <i class="icon-download"></i> Logout
    <% end %>
  </li>
</ul>
</li>
